
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-row: span 2 / span 2;
}

.div2 {
    grid-row: span 2 / span 2;
}
        